input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.jumbotron {
  background-color: white;
}

#find-similar {
  float: right;
}

#delete-measurment {
  float: right;
}

#similar {
  list-style-type: none;
  padding: 0;
}

.similar-spectrum {
}

.group-controls {
  display: -webkit-inline-box;
}

.cancel {
  margin-left: 10px;
}
